.vscode/c_cpp_properties.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
minish.o
minish
linea2argv.o
linea2argv.o
builtin_getenv.o
externo.o
builtin_lookup.o
temp.o
builtin_cd.o
ejecutar.o
