.vscode/c_cpp_properties.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
minish.o
minish
linea2argv.o
linea2argv.o
builtin_getenv.o
externo.o
builtin_lookup.o
temp.o
builtin_cd.o
ejecutar.o
builtin_gid.o
builtin_uid.o
builtin_pid.o
builtin_unsetenv.o
builtin_setenv.o
builtin_exit.o
builtin_status.o
builtin_help.o
wrappers.o
builtin_history.o
builtin_mes.o
builtin_dir.o
.vscode/tasks.json
